<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <div id="mvvm-app">
            <input type="text" v-model="someStr">
            <input type="text" v-model="child.someStr">
            <!-- <p v-class="className" class="abc">
                {{someStr}}
                <span v-text="child.someStr"></span>
            </p> -->
            <p>{{getHelloWord}}</p>
            <p v-html="htmlStr"></p>
            <button v-on:click="clickBtn">change model</button>
        </div>
    <script>
        function Compile(el, vm) {
            this.$vm = vm;
            this.$el = document.querySelector(el);

            if (this.$el) {
                this.$fragment = this.node2Fragment(this.$el);
                this.init();
                this.$el.appendChild(this.$fragment);
            }
        }

        Compile.prototype = {
            node2Fragment: function(el) {
                var fragment = document.createDocumentFragment(),
                    child;

                //将原生节点拷贝到fragment
                while (child = el.firstChild) {
                    fragment.appendChild(child);
                }
                // console.log(el)
                // fragment.innerHTML = el
                console.log(fragment)
                return fragment;
            },

            init: function() {
                this.compileElement(this.$fragment);
            },

            compileElement: function(el) {
                var childNodes = el.childNodes,
                    me = this;

                [].slice.call(childNodes).forEach(function(node) {
                    var text = node.textContent;
                    var reg = /\{\{(.*)\}\}/;

                    if (me.isElementNode(node)) {
                        me.compile(node);

                    } else if (me.isTextNode(node) && reg.test(text)) {
                        me.compileText(node, RegExp.$1);
                    }

                    if (node.childNodes && node.childNodes.length) {
                        me.compileElement(node);
                    }
                });
            },

            compile: function(node) {
                var nodeAttrs = node.attributes,
                    me = this;

                [].slice.call(nodeAttrs).forEach(function(attr) {
                    var attrName = attr.name;
                    if (me.isDirective(attrName)) {
                        var exp = attr.value;
                        var dir = attrName.substring(2);
                        // 事件指令
                        if (me.isEventDirective(dir)) {
                            compileUtil.eventHandler(node, me.$vm, exp, dir);
                            // 普通指令
                        } else {
                            compileUtil[dir] && compileUtil[dir](node, me.$vm, exp);
                        }

                        node.removeAttribute(attrName);
                    }
                });
            },

            compileText: function(node, exp) {
                compileUtil.text(node, this.$vm, exp);
            },

            isDirective: function(attr) {
                return attr.indexOf('v-') == 0;
            },

            isEventDirective: function(dir) {
                return dir.indexOf('on') === 0;
            },

            isElementNode: function(node) {
                return node.nodeType == 1;
            },

            isTextNode: function(node) {
                return node.nodeType == 3;
            }
        };

        // 指令处理集合
        var compileUtil = {
            text: function(node, vm, exp) {
                this.bind(node, vm, exp, 'text');
            },

            html: function(node, vm, exp) {
                this.bind(node, vm, exp, 'html');
            },

            model: function(node, vm, exp) {
                this.bind(node, vm, exp, 'model');

                var me = this,
                    val = this._getVMVal(vm, exp);
                node.addEventListener('input', function(e) {
                    var newValue = e.target.value;
                    if (val === newValue) {
                        return;
                    }

                    me._setVMVal(vm, exp, newValue);
                    val = newValue;
                });
            },

            class: function(node, vm, exp) {
                this.bind(node, vm, exp, 'class');
            },

            bind: function(node, vm, exp, dir) {
                var updaterFn = updater[dir + 'Updater'];

                updaterFn && updaterFn(node, this._getVMVal(vm, exp));

            },

            // 事件处理
            eventHandler: function(node, vm, exp, dir) {
                var eventType = dir.split(':')[1],
                    fn = vm.$options.methods && vm.$options.methods[exp];

                if (eventType && fn) {
                    node.addEventListener(eventType, fn.bind(vm), false);
                }
            },

            _getVMVal: function(vm, exp) {
                var val = vm;
                exp = exp.split('.');
                exp.forEach(function(k) {
                    val = val[k];
                });
                return val;
            },

            _setVMVal: function(vm, exp, value) {
                var val = vm;
                exp = exp.split('.');
                exp.forEach(function(k, i) {
                    // 非最后一个key，更新val的值
                    if (i < exp.length - 1) {
                        val = val[k];
                    } else {
                        val[k] = value;
                    }
                });
            }
        };


        var updater = {
            textUpdater: function(node, value) {
                node.textContent = typeof value == 'undefined' ? '' : value;
            },

            htmlUpdater: function(node, value) {
                node.innerHTML = typeof value == 'undefined' ? '' : value;
            },

            classUpdater: function(node, value, oldValue) {
                var className = node.className;
                className = className.replace(oldValue, '').replace(/\s$/, '');

                var space = className && String(value) ? ' ' : '';

                node.className = className + space + value;
            },

            modelUpdater: function(node, value, oldValue) {
                node.value = typeof value == 'undefined' ? '' : value;
            }
        };
        function MVVM(options) {
    this.$options = options || {};
    var data = this._data = this.$options.data;
    var me = this;

    // 数据代理
    // 实现 vm.xxx -> vm._data.xxx
    Object.keys(data).forEach(function(key) {
        me._proxyData(key);
    });

    this._initComputed();

    observe(data, this);

    this.$compile = new Compile(options.el || document.body, this)
}

MVVM.prototype = {
    _proxyData: function(key, setter, getter) {
        var me = this;
        setter = setter || 
        Object.defineProperty(me, key, {
            configurable: false,
            enumerable: true,
            get: function proxyGetter() {
                return me._data[key];
            },
            set: function proxySetter(newVal) {
                me._data[key] = newVal;
            }
        });
    },

    _initComputed: function() {
        var me = this;
        var computed = this.$options.computed;
        if (typeof computed === 'object') {
            Object.keys(computed).forEach(function(key) {
                Object.defineProperty(me, key, {
                    get: typeof computed[key] === 'function' 
                            ? computed[key] 
                            : computed[key].get,
                    set: function() {}
                });
            });
        }
    }
};
function Observer(data) {
    this.data = data;
    this.walk(data);
}

Observer.prototype = {
    walk: function(data) {
        var me = this;
        Object.keys(data).forEach(function(key) {
            me.convert(key, data[key]);
        });
    },
    convert: function(key, val) {
        this.defineReactive(this.data, key, val);
    },

    defineReactive: function(data, key, val) {
        var childObj = observe(val);

        Object.defineProperty(data, key, {
            enumerable: true, // 可枚举
            configurable: false, // 不能再define
            get: function() {
                return val;
            },
            set: function(newVal) {
                if (newVal === val) {
                    return;
                }
                val = newVal;
                // 新的值是object的话，进行监听
                childObj = observe(newVal);
                // 通知订阅者
            }
        });
    }
};

function observe(value, vm) {
    if (!value || typeof value !== 'object') {
        return;
    }

    return new Observer(value);
};

    </script>
    <script>
            var vm = new MVVM({
                el: '#mvvm-app',
                data: {
                    someStr: 'hello ',
                    className: 'btn',
                    htmlStr: '<span style="color: #f00;">red</span>',
                    child: {
                        someStr: 'World !'
                    }
                },
            })
        </script>
</body>
</html>